<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyh.mapper.BookMapper">
    <select id="getBookList" resultMap="BI">
        select * from library.book
    </select>
    <select id="getBookByName" resultMap="BI">
        select *
        from library.book, library.bookinfo
        where book.ISBN = bookinfo.ISBN and bookinfo.bname like concat('%',#{name},'%')
    </select>
    <select id="getBookById" resultMap="BI">
        select * from library.book where bookNo=#{id}
    </select>
    <update id="addBook" parameterType="Book">
        insert into library.book(ISBN, location, status) value (#{info.ISBN},#{location},#{status})
    </update>
    <update id="updateBook" parameterType="Book">
        update library.book set ISBN=#{info.ISBN},location=#{location},status=#{status} where bookNo=#{bookNo}
    </update>
    <delete id="deleteBook" parameterType="int">
        delete from library.book where bookNo=#{bookNo}
    </delete>
    <resultMap id="BI" type="Book">
        <result property="bookNo" column="bookNo"/>
        <result property="location" column="location"/>
        <result property="status" column="status"/>
        <association property="info" column="ISBN" javaType="BookInfo">
            <result property="ISBN" column="ISBN"/>
        </association>
    </resultMap>
</mapper>