<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyh.mapper.UserMapper">
    <select id="getUserList" resultType="User">
        select * from library.user
    </select>
    <select id="getUserByName" resultType="User">
        select * from library.user where user.name like concat('%',#{name},'%')
    </select>
    <select id="getUserById" resultType="User">
        select * from library.user where userNo=#{userNo}
    </select>
    <update id="addUser" parameterType="User">
        insert into library.user(userNo, name, pwd, registerDate, email, level)
        value (#{userNo},#{name},#{pwd},#{registerDate},#{email},#{level})
    </update>
    <update id="updateUser" parameterType="User">
        update library.user set name=#{name} where userNo=#{userNo}
    </update>
    <delete id="deleteUser" parameterType="int">
        delete from library.user where userNo=#{userNo}
    </delete>
</mapper>